


body {
    font-family: Helvetica, sans-serif;
}

h1 {
    color: rgb(77, 77, 133);
}

input {
    padding: 14px;
    margin-bottom: 20px;
}

.flag-container {
    width: 100px;
    height: 100px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flag-image {
    width: 100%;
    border: solid 1px gray;
}

.submit-button {
    padding: 10px;
    font-size: 1.2em;
    background-color: rgb(77, 77, 133);
    color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.todays-date {
    color: rgb(77, 77, 133);
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
}

form {
    width: 100%;
    margin: 0 auto;
    min-height: 40px;
    text-align: center;
}

.display-container {
    
}

.display {
    width: 100%;
    margin: 10px auto;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.display2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flag-label {
    font-size: 10px;
    color: black; 
    text-align: center;
    padding: 0 0 4px 0;
    margin: 0;
}

.country-flag {
    width: 150px;
    height: auto;
    margin: 5px;
    border: solid 1px gray;
}

.countryHeading {
    padding-left: 5px;
}

.countryCapital {
    padding-left: 5px;
}

.modal-bg {
    display: none;
    position: absolute;
    width: 100%;
    height: 8000px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    z-index: 0;
}

.modal {
    display: none;
    position: absolute;
    padding: 5%;
    width: 90%;
    height: 100%;
    min-height: 500px;
    margin: 0 auto;
    border: solid 2px rgb(77, 77, 133);
    background-color: rgb(50, 50, 77);
    height: auto;
    top: 0;
    z-index: 10;
}

.modal-heading {
    color: rgb(98, 98, 161);
    /* margin: 0 auto; */
    text-align: center;
}

.country-info-box {
    border: solid 2px rgb(77, 77, 133);
    min-height: 200px;
    padding: 5px;
    background: url('earth.gif') transparent;
    background-size: 350px; 
    background-position: 550px center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

.countryPop {
    padding-left: 5px;
}

.close {
    width: 100px;
    padding: 4px;
    background-color: rgb(77, 77, 133);
    color: white;
    position: absolute;
    margin: 0;
    top: 0; 
    right: 0;
    z-index: 20;
    cursor: pointer;
    font-size: 12px;
}

.holiday-container {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.holiday-names {
    padding: 10px;
    width: 20%;
    background-color: rgb(113, 140, 180);
    color: white;
}

.holiday-dates {
    padding: 10px;
    width: 10%;
    background-color: rgb(113, 140, 180);
    color: white;
}

.holiday-description {
    padding: 10px;
    width: 60%;
    background-color: rgb(113, 140, 180);
    color: white;
}


/* ======= CAROUSEL SECTION ======== */
.carousel-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
  }
  .carousel-images {
    width: 80%;
    background: rgb(77, 77, 133);
    padding: 5px;
    box-sizing: border-box;
  }
  .carousel-images img {
    width: 100%;
  }
  .carousel-button {
    align-self: center;
    background: rgb(77, 77, 133);
    color: rgb(252, 249, 249);
    padding: 10px;
    border-radius: 50%;
    text-align: center;
  }
  .carousel-button:hover {
    cursor: pointer;
    background: #aec4f3;
    color: white;
  }
  
  .carousel-images img {
      display: none;
  }
  
  .carousel-images img:first-of-type {
      display: block;
    }